.leaflet-container{
    width: 100vw;
    height: 100vh;
}

.chat {
    width: 300px;
    height: 400px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.chat__title {
    color: crimson;
}

.chat__content {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    background-color: whitesmoke;
    border-radius: 10px 10px  0 0;
    font-size: 16px;
}

.chat__send {
    display: flex;
    width: 100%;
}

.chat__input {
    width: 100%;
    line-height: 30px;
    padding-left: 10px;
}

.chat__button {
    width: 100px;
    border: 0;
    outline: 0;
    background-color: rgb(206, 206, 206);
    cursor: pointer;
}

.chat__active {
    color: green;
    font-size: 18px;
}

.heatMap {
}

.incidents {
    position: absolute;
    top: 80px;
    z-index: 900;
    left: 25%;
}